.about-img {
    background-image: url("../images/fayetteville-81136.jpg");
    background-repeat: no-repeat;
    min-height: 1000px;
}
.about-container {
    padding-top: 150px;
}
.about-bg {
    background-color: rgba(0, 0, 0, 0.5)
}
.card-width{
    width: 18rem;
}