.about-img {
    background-image: url("../images/fayetteville-81136.jpg");
    background-repeat: no-repeat;
    min-height: 1000px;
    background-size: cover;
    background-position:center;
    display: flex;
}
.about-container {
    padding-top: 150px;
}
.about-bg {
    background-color: rgba(0, 0, 0, 0.5)
}

.link-hover {
    color:white !important;
    transition-duration:0.5s !important;
    transition-delay: 0.25s !important;
}
.link-hover:hover {
    color:green !important;
}